africastalking==1.1.7
Flask==1.0.2
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.0
nexmo==2.4.0
pycparser==2.19
PyJWT==1.7.1
python-dateutil==2.8.0
python-dotenv==0.10.3
python-editor==1.0.4
pytz==2019.2
redis==3.3.8
requests==2.22.0
rq==1.1.0
schema==0.7.0
six==1.12.0
SQLAlchemy==1.4.15
urllib3==1.25.3
Werkzeug==0.15.5
